$wh: #ffffff;
$bl: #030303;
$c: #cccccc;
$d: #dddddd;

$gradr: #ff0036;
$grady: #f2ab00;

$rgba1: rgba(0, 0, 0, 0.1);
$rgba2: rgba(0, 0, 0, 0.2);
$rgba3: rgba(0, 0, 0, 0.3);
$rgba4: rgba(0, 0, 0, 0.4);
$rgba5: rgba(0, 0, 0, 0.5);
$rgba6: rgba(0, 0, 0, 0.6);
$rgba7: rgba(0, 0, 0, 0.7);
$rgba8: rgba(0, 0, 0, 0.8);
$rgba9: rgba(0, 0, 0, 0.9);